<!DOCTYPE html>
<!--
      |                            |
  _ \ |  _ \ __ `__ \  | __ \   _` |
  __/ |  __/ |   |   | | |   | (   |
\___|_|\___|_|  _|  _|_|_|  _|\____|
                       web solutions
-->
<html lang="it" class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="elemind.com">
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<link href="styles/main.css" rel="stylesheet">
</head>

<body class="{{ page.body }}">

{{ content }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
<script src="http://cdn.rawgit.com/icons8/bower-webicon/v0.10.7/jquery-webicon.min.js"></script>
<script src="/scripts/main.js"></script>
</body>
</html>
