
/ Footer
%footer.footer
  .container
    .row
      .col
        %h5 Quicklinks
        %ul.list-unstyled
          %li<
            %a{:href => "#fake"} A Footer Link
          %li<
            %a{:href => "#fake"} A Footer Link
          %li<
            %a{:href => "#fake"} A Footer Link
          %li<
            %a{:href => "#fake"} A Footer Link
          %li<
            %a{:href => "#fake"} A Footer Link
          %li<
            %a{:href => "#fake"} A Footer Link
          %li<
            %a{:href => "#fake"} A Footer Link
      .col
        %h5 Our Profile
        %ul.list-unstyled
          %li<
            %a{:href => "#fake"} A Footer Link
          %li<
            %a{:href => "#fake"} A Footer Link
          %li<
            %a{:href => "#fake"} A Footer Link
          %li<
            %a{:href => "#fake"} A Footer Link
          %li<
            %a{:href => "#fake"} A Footer Link
          %li<
            %a{:href => "#fake"} A Footer Link
          %li<
            %a{:href => "#fake"} A Footer Link
      .col
        %h5 Information
        %ul.list-unstyled
          %li<
            %a{:href => "#fake"} A Footer Link
          %li<
            %a{:href => "#fake"} A Footer Link
          %li<
            %a{:href => "#fake"} A Footer Link
          %li<
            %a{:href => "#fake"} A Footer Link
          %li<
            %a{:href => "#fake"} A Footer Link
          %li<
            %a{:href => "#fake"} A Footer Link
      .col
        %h5 Courses
        %ul.list-unstyled
          %li<
            %a{:href => "#fake"} A Footer Link
          %li<
            %a{:href => "#fake"} A Footer Link
          %li<
            %a{:href => "#fake"} A Footer Link
          %li<
            %a{:href => "#fake"} A Footer Link
          %li<
            %a{:href => "#fake"} A Footer Link
          %li<
            %a{:href => "#fake"} A Footer Link
          %li<
            %a{:href => "#fake"} A Footer Link
          %li<
            %a{:href => "#fake"} A Footer Link
      .col
        %h5 Publication
        %ul.list-unstyled
          %li<
            %a{:href => "#fake"} A Footer Link
          %li<
            %a{:href => "#fake"} A Footer Link
          %li<
            %a{:href => "#fake"} A Footer Link
          %li<
            %a{:href => "#fake"} A Footer Link
          %li<
            %a{:href => "#fake"} A Footer Link
          %li<
            %a{:href => "#fake"} A Footer Link
          %li<
            %a{:href => "#fake"} A Footer Link

    .text-muted.small.m-t-lg
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, maxime.
