
/ Header
%header.header{:style => "background-image: url(https://unsplash.it/g/1600/800?image=893);"}
  .container
    %nav.navbar.navbar-dark
      %a.navbar-brand{:href => "#fake"}<
        Tra
        %span> n
        s
      %ul.nav.navbar-nav
        %li.nav-item.active
          %a.nav-link{:href => "#fake"} About
        %li.nav-item
          %a.nav-link{:href => "#fake"} Products
        %li.nav-item
          %a.nav-link{:href => "#fake"} Projects
        %li.nav-item
          %a.nav-link{:href => "#fake"} Contact

    .jumbotron
      %h1.display-1<
        Sleek as
        %br><
        Fkuc
      %p.text-muted<
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        %br><
        Delectus reiciendis consequatur, doloremque labore nesciunt.
      %p
        %webicon.webicon-light.m-r{:icon => "ion:android-remove"}
        %webicon.webicon-light{:icon => "win10:right-arrow"}
